Source: gvmd
Maintainer: arcticwolf
Section: net
Priority: optional
Standards-Version: 4.1.5
Build-Depends: debhelper (>= 11)

Package: gvmd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         gvm-libs,
Description: Greenbone Vulnerability Manager
 The Greenbone Vulnerability Manager is the central management service between
 security scanners and the user clients.
 .
 It manages the storage of any vulnerability management configurations and of
 the scan results.
