[Unit]
Description=OpenVAS Manager
Documentation=man:gvmd(8) https://www.greenbone.net
After=openvas-scanner.service

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
PIDFile=/var/run/gvmd.pid
ExecStart=/usr/sbin/gvmd
KillMode=mixed
Restart=always
RestartSec=1
User=root
Group=root
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
